@{
    ViewData["Title"] = "OurClients";
}

<section class="clients__main">
    <div class="custom-container-fluid p-0 main__img">
        <div class="main__wrapper">
            <h1 class="main__title">Our Clients</h1>
            <span class="main__subtitle">Home  /  Our Clients</span>
        </div>
    </div>
</section>
<section class="our-clients">
    <div class="custom-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3 p-0">
                <div class="our-clients__box client-1">
                    <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/client-img-1.png" alt="photo">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3 p-0">
                <div class="our-clients__box client-2">
                    <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/client-img-2.png" alt="photo">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3 p-0">
                <div class="our-clients__box client-3">
                    <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/client-img-3.png" alt="photo">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3 p-0">
                <div class="our-clients__box client-4">
                    <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/client-img-4.png" alt="photo">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3 p-0">
                <div class="our-clients__box client-5">
                    <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/client-img-5.png" alt="photo">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3 p-0">
                <div class="our-clients__box client-6">
                    <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/client-img-6.png" alt="photo">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3 p-0">
                <div class="our-clients__box client-7">
                    <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/client-img-7.png" alt="photo">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3 p-0">
                <div class="our-clients__box client-8">
                    <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/client-img-8.png" alt="photo">
                </div>
            </div>
        </div>
    </div>
</section>