@{
    ViewData["Title"] = "OurServices";
}

<section class="services__main">
    <div class="custom-container-fluid p-0 main__img">
        <div class="main__wrapper">
            <h1 class="main__title">Our Services</h1>
            <span class="main__subtitle">Home  /  Our Services</span>
        </div>
    </div>
</section>
<section class="services">
    <div class="custom-container">
        <div class="services__wrapper">
            <div class="services__title">
                <h2>Our Methods In Healing</h2>
                <h4>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo non habent claritatem insitamconsequat duis autem facilisis at vero eros</h4>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3">
                    <div class="services__box">
                        <div class="services__img-box">
                            <div class="services__img-circle">
                                <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/h6-custom-icon-5.png" alt="icon">
                            </div>
                            <span style="margin-left: 13px;">1</span>
                        </div>
                        <div class="services__text">
                            <h5>Sight Terapy</h5>
                            <p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3">
                    <div class="services__box">
                        <div class="services__img-box">
                            <div class="services__img-circle">
                                <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/h6-custom-icon-6.png" alt="icon">
                            </div>
                            <span style="margin-left: 33px;">2</span>
                        </div>
                        <div class="services__text">
                            <h5>Eye Medication</h5>
                            <p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3">
                    <div class="services__box">
                        <div class="services__img-box">
                            <div class="services__img-circle">
                                <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/h6-custom-icon-7.png" alt="icon">
                            </div>
                            <span style="margin-left: 33px;">3</span>
                        </div>
                        <div class="services__text">
                            <h5>Blidness Test</h5>
                            <p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-sm-12 col-xl-3">
                    <div class="services__box">
                        <div class="services__img-box">
                            <div class="services__img-circle">
                                <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/h6-custom-icon-8.png" alt="icon">
                            </div>
                            <span style="margin-left: 33px;">4</span>
                        </div>
                        <div class="services__text">
                            <h5>Lasik Surgery</h5>
                            <p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services__about">
    <div class="custom-container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-6">
                <div class="services__about-text">
                    <h2>
                        Laboratory Place
                        <span>In Medicine Practice</span>
                    </h2>
                    <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore. </p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-6">
                <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/services-img-1.jpg" alt="photo">
            </div>
        </div>
    </div>
</section>
<section class="services__addition">
    <div class="custom-container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-4">
                <div class="services__addition-wrapper">
                    <h3>Serving People Through Exemplary Health Care</h3>
                    <p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-4">
                <div class="services__addition-wrapper">
                    <h3>Specialty Medicine with Compassion and Care</h3>
                    <p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-4">
                <div class="services__addition-wrapper">
                    <h3>Caring For The Growing Needs Of Community</h3>
                    <p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                </div>
            </div>
        </div>
    </div>
</section>