@{
    ViewData["Title"] = "Process";
}
<section class="main">
    <div class="custom-container-fluid p-0 main__img">
        <div class="process-main__wrapper">
            <h1 class="main__title">Process</h1>
            <span class="main__subtitle">Home  /  Process</span>
        </div>
    </div>
</section>
<section class="process">
    <div class="custom-container">
        <div class="process__wrapper">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6">
                    <div class="process__info-wrapper">
                        <div class="process__info">
                            <h6>Step 1</h6>
                            <h3>Choose Department</h3>
                            <p>
                                Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at  in iis qui facit eorum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6">
                    <div class="process__img">
                        <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/process-img-1.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="process__wrapper">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6">
                    <div class="process__img">
                        <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/process-img-1.jpg">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6">
                    <div class="process__info-wrapper">
                        <div class="process__info">
                            <h6>Step 2</h6>
                            <h3>Your Health, Our Mission</h3>
                            <p>
                                Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at  in iis qui facit eorum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="process__wrapper">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6">
                    <div class="process__info-wrapper">
                        <div class="process__info">
                            <h6>Step 3</h6>
                            <h3>Making Communities Healthier</h3>
                            <p>
                                Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at  in iis qui facit eorum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6">
                    <div class="process__img">
                        <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/process-img-3.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="process__wrapper">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6">
                    <div class="process__img">
                        <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/process-img-4.jpg">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 col-sm-12 col-xl-6">
                    <div class="process__info-wrapper">
                        <div class="process__info">
                            <h6>Step 4</h6>
                            <h3>Keeping You Well</h3>
                            <p>
                                Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at  in iis qui facit eorum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
