@{
    ViewData["Title"] = "WhoWeAre";
}

<section class="about__main">
    <div class="custom-container-fluid p-0 main__img">
        <div class="main__wrapper">
            <h1 class="main__title">Who We Are</h1>
            <span class="main__subtitle">Home  /   Who We Are</span>
        </div>
    </div>
</section>
<section class="about-info">
    <div class="custom-container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-6">
                <div class="about-info__wrapper">
                    <h2>
                        <span>
                            Finest Patient
                        </span>
                        Care & Amenities
                    </h2>
                    <div class="about-info__main-wrapper">
                        <div class="about-info__main">
                            <div>
                                <i class="mkdf-icon-font-awesome fa fa-arrow-circle-right "></i>
                                <p>Ut wisi enim ad minim dolore</p>
                            </div>
                            <div>
                                <i class="mkdf-icon-font-awesome fa fa-arrow-circle-right "></i>
                                <p>Veniam quis laore nostrud</p>
                            </div>
                            <div>
                                <i class="mkdf-icon-font-awesome fa fa-arrow-circle-right "></i>
                                <p>Exerci tation ulm hedi corper</p>
                            </div>
                            <div>
                                <i class="mkdf-icon-font-awesome fa fa-arrow-circle-right "></i>
                                <p>Turet suscipit lobortis littera</p>
                            </div>
                        </div>
                        <div class="about-info__main">
                            <div>
                                <i class="mkdf-icon-font-awesome fa fa-arrow-circle-right "></i>
                                <p>Ut wisi enim ad minim dolore</p>
                            </div>
                            <div>
                                <i class="mkdf-icon-font-awesome fa fa-arrow-circle-right "></i>
                                <p>Veniam quis laore nostrud</p>
                            </div>
                            <div>
                                <i class="mkdf-icon-font-awesome fa fa-arrow-circle-right "></i>
                                <p>Exerci tation ulm hedi corper</p>
                            </div>
                            <div>
                                <i class="mkdf-icon-font-awesome fa fa-arrow-circle-right "></i>
                                <p>Turet suscipit lobortis littera</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-6">
                <div class="about-info__img">
                    <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/about-us-img-1.jpg" alt="photo">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="meter">
    <div class="custom-container">
        <div class="row">
            <div class="meter-wrapper">
                <div class="col-12 col-md-3 col-lg-3 col-sm-12 col-xl-3">
                    <div class="meter__item">
                        <span class="count" data-count="22">0</span>
                        <h6>Health Sections</h6>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 col-sm-12 col-xl-3">
                    <div class="meter__item">
                        <span class="count" data-count="146">0</span>
                        <h6>Health Sections</h6>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 col-sm-12 col-xl-3">
                    <div class="meter__item">
                        <span class="count" data-count="388">0</span>
                        <h6>Blood Donations</h6>
                    </div>
                </div>
                <div class="col-12 col-md-3 col-lg-3 col-sm-12 col-xl-3">
                    <div class="meter__item">
                        <span class="count" data-count="1280">0</span>
                        <h6>Satisfied Patients</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="about-article">
    <div class="custom-container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4 col-sm-12 col-xl-4">
                <div class="about-article__wrapper">
                    <div class="about-article__img">
                        <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/who-we-are-img-1.jpg" alt="">
                    </div>
                    <div class="about-article__main">
                        <h3>Power To Heal</h3>
                        <p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-sm-12 col-xl-4">
                <div class="about-article__wrapper">
                    <div class="about-article__img">
                        <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/who-we-are-img-2.jpg" alt="">
                    </div>
                    <div class="about-article__main">
                        <h3>Powerful Medicine</h3>
                        <p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 col-sm-12 col-xl-4">
                <div class="about-article__wrapper">
                    <div class="about-article__img">
                        <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/who-we-are-img-3.jpg" alt="">
                    </div>
                    <div class="about-article__main">
                        <h3>Keeping You Well</h3>
                        <p>Ut wisi enim ad minim veniam, quis laore est usus legentis in iis qui facit eorum nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl aliquip</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-healthy">
    <div class="custom-container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-6">
                <div class="about-healthy__wrapper">
                    <h2>
                        How To Live a
                        <span>Healthy Lifestyle?</span>

                    </h2>
                    <div>
                        <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut aliquip erat volutpat autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit.</p>
                        <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                    </div>
                    <div class="about-healthy__bottom">
                        <h5>Victoria Fernandez</h5>
                        <span>Cardiac surgery</span>
                        <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/h12-img-2.png" alt="icon">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-6">
                <div class="about-healthy__img">
                    <img src="https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/who-we-are-img-4.jpg" alt="photo">
                </div>
            </div>
        </div>
    </div>
</section>