@{
    ViewData["Title"] = "WorkHours";
}

<section class="main">
    <div class="custom-container-fluid p-0 main__img">
        <div class="main__wrapper">
            <h1 class="main__title">Working Hours</h1>
            <span class="main__subtitle">Home  /  Working Hours</span>
        </div>
    </div>
</section>
<section class="working-hours">
    <div class="custom-container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-8 col-sm-12 col-xl-8">
                <div class="working-hours__wrapper">
                    <h4>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo non habent claritatem insitamconsequat duis autem facilisis at vero eros nibh euismod tincidunt ut laoreet vel eum iriure qui sequitur mutationem consuetudium lectorum mirum est notare</h4>
                    <p>Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. lacerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius vel illum dolore eu feugiat nulla.</p>
                    <div class="working-hours__services">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-6 col-sm-12 col-xl-6">
                                <div class="working-hours__service">
                                    <img src="/uploads/images/h1-custom-icon-1.png" alt="photo">
                                    <div class="working-hours__text">
                                        <h5>Cardiac Clinic</h5>
                                        <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6 col-sm-12 col-xl-6">
                                <div class="working-hours__service">
                                    <img src="/uploads/images/h1-custom-icon-2.png" alt="photo">
                                    <div class="working-hours__text">
                                        <h5>Emergency Clinic</h5>
                                        <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6 col-sm-12 col-xl-6">
                                <div class="working-hours__service">
                                    <img src="/uploads/images/h1-custom-icon-6.png" alt="photo">
                                    <div class="working-hours__text">
                                        <h5>Primary Care</h5>
                                        <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-6 col-sm-12 col-xl-6">
                                <div class="working-hours__service">
                                    <img src="/uploads/images/h1-custom-icon-5.png" alt="photo">
                                    <div class="working-hours__text">
                                        <h5>Vascular Surgery</h5>
                                        <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 col-sm-12 col-xl-4">
                <div class="working-hours__opening">
                    <div>
                        <h3>Opening hours</h3>
                        <ul>
                            <li>
                                <span>Monday</span>
                                <span>9.00 - 19.00</span>
                            </li>
                            <li>
                                <span>Tuesday</span>
                                <span>9.00 - 19.00</span>
                            </li>
                            <li>
                                <span>Wednesday</span>
                                <span>9.00 - 19.00</span>
                            </li>
                            <li>
                                <span>Thursday</span>
                                <span>9.00 - 19.00</span>
                            </li>
                            <li>
                                <span>Friday</span>
                                <span>9.00 - 19.00</span>
                            </li>
                            <li>
                                <span>Saturday</span>
                                <span>9.00 - 19.00</span>
                            </li>
                            <li>
                                <span>Sunday</span>
                                <span>Closed</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>