@{
    ViewData["Title"] = "SignIn";
    Layout = null;
}
<div class="login__wrapper">
    <div class="login">
        <div class="appointment-modal__form-wrapper">
            <div class="appointment-modal__title-box">
                <h4>Login</h4>
                <div class="appointment-modal__title-text">
                    We provide the most full medical services, so every person could have the
                    oportunity to receive qualitative medical help.
                </div>
            </div>
            <form class="appointment-modal__form" id="loginfrm">
                <div class="row">
                    <label class="text-danger label-validation">@ViewBag.Message</label>
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12 appointment-modal__row">
                        <input type="text" class="appointment-modal__input" name="UserName" placeholder="Your Username or E-mail"
                               data-rule-required="true" data-msg-required="Please, enter your username or email">
                        @*<span asp-validation-for="UserName" style="color:red;"></span>*@
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12 appointment-modal__row">
                        <input type="password" name="Password" class="appointment-modal__input appointment-modal__input--pass" placeholder="Your Password"
                               data-rule-required="true" data-msg-required="Please, enter your password">
                        <span class="login__eye">
                            <i class="flaticon-eye"></i>
                        </span>
                        @*<span asp-validation-for="Password" style="color:red;"></span>*@
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-sm-12 col-xl-12 appointment-modal__row">
                        <button class="btn btn--black btn--login" style="border:none">Submit now</button>

                    </div>

                </div>
            </form>
            <span class="login__signUp">
                Don't have an account?
                <a href="#" class="makeRegisterModal">Sign Up</a>
            </span>
        </div>
        <a href="#" class="login__form-close"></a>
    </div>
</div>
